In [1]:
import json 
import numpy as np
import pandas as pd

from scipy.stats import sem

In [2]:
from utils import load_json_files_from_dir, process_dataset
from utils import get_separation_score, get_score_by_appended_type, get_score_by_domain

## Separation score on SEP dataset for Llama-2-7b

## Separation score on SEP dataset for Llama-2-13b

In [3]:
model_outputs = load_json_files_from_dir("./model_outputs/llama13b/")

Including 3000-6000.json
Including 0-3000.json
Including 6000-10000.json
Total items loaded: 9160

In [4]:
processed_output = process_dataset(model_outputs)

In [5]:
get_separation_score(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
default,0.471,0.748,0.575,"[0.469, 0.009]"
ins,0.762,0.904,0.766,"[0.208, 0.006]"
global,0.618,0.826,0.671,"[0.325, 0.005]"

In [6]:
get_score_by_appended_type(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.551694,0.776947,0.636604,"[0.379, 0.012]"
lr,0.675988,0.770972,0.687528,"[0.264, 0.011]"
rl,0.560315,0.875,0.637238,"[0.387, 0.011]"
rr,0.682012,0.879795,0.720375,"[0.271, 0.01]"
left-any,0.613841,0.773959,0.662066,"[0.322, 0.008]"
right-any,0.621163,0.877398,0.678806,"[0.328, 0.007]"
any-left,0.556004,0.825973,0.636921,"[0.383, 0.008]"
any-right,0.679,0.825384,0.703951,"[0.268, 0.007]"

In [7]:
get_score_by_domain(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.514,0.818,0.606,"[0.427, 0.01]"
Analytical,0.644,0.865,0.687,"[0.308, 0.009]"
Creative,0.695,0.793,0.719,"[0.239, 0.009]"

## llama-2-7b

## Separation score on SEP dataset for OpenHermes 2.5

## Separation score on SEP dataset for Dolphin 2.2.1

## Separation score on SEP dataset for Zephyr-7b Beta

In [5]:
model_outputs = load_json_files_from_dir("./model_outputs/zephyr/")

Including 0-7000.json
Total items loaded: 2301

In [6]:
processed_output = process_dataset(model_outputs)

In [8]:
get_separation_score(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
default,0.572,0.463,0.556,"[0.362, 0.021]"
ins,0.692,0.530,0.597,"[0.227, 0.017]"
global,0.633,0.497,0.577,"[0.288, 0.013]"

In [9]:
get_score_by_appended_type(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.554152,0.292419,0.539711,"[0.34, 0.037]"
lr,0.677138,0.26178,0.472949,"[0.213, 0.034]"
rl,0.56304,0.711572,0.592401,"[0.391, 0.024]"
rr,0.732773,0.705882,0.697479,"[0.195, 0.019]"
left-any,0.615645,0.277099,0.50633,"[0.279, 0.025]"
right-any,0.647906,0.708727,0.64494,"[0.292, 0.016]"
any-left,0.558596,0.501995,0.566056,"[0.376, 0.02]"
any-right,0.704955,0.483831,0.585214,"[0.2, 0.017]"

In [10]:
get_score_by_domain(*processed_output)

,instr_in_data_asr,instr_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.600,0.467,0.587,"[0.3, 0.025]"
Analytical,0.642,0.503,0.561,"[0.298, 0.022]"
Creative,0.657,0.521,0.585,"[0.268, 0.023]"

## Separation score on SEP dataset for GPT-3.5

## Separation score on SEP dataset for GPT-4